main {
    width: 400px;
    margin: auto;
    
}

.jatekmezo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.jatekmezo div{
    aspect-ratio: 1;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: blue;
    height: 200px;
    margin: auto;
}

.felkapcs {
    background-color: rgb(230, 200, 50) !important;
}